#contact .title {
  margin-bottom: calc(50px * var(--ratio));
}

#contact .title h1 {
  font-size: calc(40px * var(--ratio));
  text-align: center;
  margin-bottom: calc(15px * var(--ratio));
}

#contact .title .line {
  width: calc(115px * var(--ratio));
  margin: auto;
}
#contact .title .line div {
  width: 100%;
  height: 1.5px;
  background-color: var(--main-color);
}
#contact .title .line div:nth-child(1) {
  margin-bottom: 2px;
}

#contact .title {
  margin-top: calc(55px * var(--ratio));
  margin-bottom: calc(55px * var(--ratio));
}

#contact form button {
  display: block;
  margin: calc(45px * var(--ratio)) auto calc(60px * var(--ratio));
}

#contact .row {
  margin-bottom: calc(30px * var(--ratio));
  display: flex;
  justify-content: space-between;
}

#contact .row:nth-child(1) input:nth-child(1) {
  margin-right: calc(30px * var(--ratio));
}

#contact input,
#contact textarea {
  border: 0;
  padding: calc(18px * var(--ratio)) calc(25px * var(--ratio));
  border: 1px solid #b4b4b4;

  width: 100%;

  border-radius: calc(4px * var(--ratio));
}

#contact textarea {
  min-width: 100%;
  min-height: calc(180px * var(--ratio));
}

@media (max-width: 600px) {
  #contact .row {
    flex-direction: column;
  }
  #contact .row input[name="name"] {
    margin-bottom: calc(30px * var(--ratio));
  }
  #contact form button {
    width: 100%;
  }
}
