#course-content {
  background-color: #fff;
  width: 100%;
  padding: calc(70px * var(--ratio)) 0;
  margin-bottom: calc(70px * var(--ratio));

  margin-bottom: 0;
  padding-bottom: 0;
}

#course-content section > div:first-child {
  /* margin-bottom: calc(70px * var(--ratio)); */
}

#course-content section {
  margin-bottom: 0;
}

#course-content p {
  text-align: center;
  font-size: calc(18px * var(--ratio));
  max-width: 90%;
  margin: auto;
  line-height: 1.6;
}

@media (max-width: 700px) {
  #course-content section {
    width: 90%;
  }
}
