#course-instructor .card {
  width: 100%;
  display: flex;
  line-height: 1.6;
  margin-bottom: calc(32px * var(--ratio));
  border-radius: calc(4px * var(--ratio));
  overflow: hidden;
}
#course-instructor .card .image {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#course-instructor .card .image.image1 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/author1.jpg);
}
#course-instructor .card .image.image2 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/author2.jpg);
}
#course-instructor .card .image.image3 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/author3.jpg);
}

#course-instructor .card .image.image4 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/author4.jpg);
}

#course-instructor .card .image.image5 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/author5.jpg);
}

#course-instructor .card .info {
  width: 50%;
  padding: calc(48px * var(--ratio)) calc(60px * var(--ratio));
  background-color: #fff;
}

#course-instructor .card .info h3 {
  font-size: calc(22px * var(--ratio));
  font-weight: bold;
  color: var(--main-color);
  text-transform: capitalize;
}
#course-instructor .card .info .job-title {
  font-size: calc(16px * var(--ratio));
}
#course-instructor .card .info p {
  margin: calc(36px * var(--ratio)) 0;
  font-size: calc(16px * var(--ratio));
}
#course-instructor .card .info .social {
  display: flex;
}
#course-instructor .card .info .social .icon {
  width: calc(25px * var(--ratio));
  height: calc(25px * var(--ratio));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  filter: invert(45%) sepia(32%) saturate(2410%) hue-rotate(347deg)
    brightness(99%) contrast(93%);

  margin: 0 calc(10px * var(--ratio));
}
#course-instructor .card .info .social .icon.icon-insta {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/icons/Instagram.svg);
}
#course-instructor .card .info .social .icon.icon-twt {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/icons/Twitter.svg);
}
#course-instructor .card .info .social .icon.icon-fb {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/icons/Facebook.svg);
}
#course-instructor .card .info .social .icon.icon-site {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/icons/Site.svg);
}

@media (max-width: 700px) {
  #course-instructor .card {
    flex-direction: column;
  }
  #course-instructor .card .image {
    height: 300px;
    width: 100%;
  }
  #course-instructor .card .info {
    width: 100%;
  }
}
