#gallery .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: minmax(100px, auto); */
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}

#gallery .images .image {
  /* width: 255px; */
  height: 255px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#gallery .images img {
  width: 100%;
}

#gallery .footer {
  text-align: center;
  margin: calc(45px * var(--ratio)) auto calc(60px * var(--ratio));
}

@media (max-width: 850px) {
  #gallery .images {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(33% - 13px);
    grid-auto-columns: calc(33% + 30px);
    grid-auto-columns: auto;

    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(0.75 * var(--gutter));
    margin-bottom: calc(-0.25 * var(--gutter));
  }

  #gallery .images:before,
  #gallery .images:after {
    content: "";
    width: 10px;
  }

  #gallery .images > li,
  #gallery .images .image {
    scroll-snap-align: center;
  }

  #gallery .images .image {
    min-width: 195px;
  }

  #gallery .images {
    align-items: unset;
    justify-content: unset;
  }

  #gallery .images.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #gallery .images.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
