#blog-cards {
  /* width: 630px; */
}

#blog-cards .card {
  border-radius: calc(5px * var(--ratio));
  margin-bottom: calc(30px * var(--ratio));
}

#blog-cards .card .thumbnail {
  width: 100%;
  height: calc(310px * var(--ratio));

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#blog-cards .card .thumbnail.image1 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/b3.jpg);
}

#blog-cards .card .info {
  padding: calc(30px * var(--ratio));
  background-color: #fff;
}

#blog-cards .card .info > * {
  margin-bottom: calc(30px * var(--ratio));
}
#blog-cards .card .info > :last-child {
  margin-bottom: 0;
}

#blog-cards .card .info .title {
  color: var(--main-color);
  font-size: calc(23px * var(--ratio));
  font-weight: bold;
  text-transform: capitalize;
}

#blog-cards .card .info .overview {
  font-size: calc(16px * var(--ratio));
  line-height: 1.6;
}

#blog-cards .card .info .author {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-weight: bold;
  text-transform: capitalize;
  font-size: calc(16px * var(--ratio));
}

#blog-cards .card .info .author .profile-pic {
  width: calc(40px * var(--ratio));
  height: calc(40px * var(--ratio));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}

#blog-cards .card .info .author .profile-pic.author2 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/b1.jpg);
}

#blog-cards .card .info .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blog-cards .card .info .bottom .date {
  color: var(--sub-text-color);
  font-size: calc(15px * var(--ratio));
}

#blog-cards .pagination {
  display: flex;
  justify-content: center;
}

#blog-cards .pagination .btn {
  width: calc(30px * var(--ratio));
  height: calc(30px * var(--ratio));

  margin: 0 calc(30px * var(--ratio));

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

#blog-cards .pagination .btn.prev {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/icons/Previous.svg);
}

#blog-cards .pagination .btn.next {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/icons/Next.svg);
}

#blog-cards .pagination ul {
  /* flex-grow: 1; */
  display: flex;
}

#blog-cards .pagination ul li {
  margin: 0 calc(10px * var(--ratio));
}
#blog-cards .pagination ul li.active {
  color: var(--main-color);
}

#blog-cards .pagination ul li a:hover {
  text-decoration: underline;
}
