#signup-form {
  background: url(http://thegoodzone.pythonanywhere.com/static/assets/image/bg.jpg)
    no-repeat center center;
  background-size: cover;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

#signup-form::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

#signup-form form {
  background-color: #fff;
  position: relative;
  max-width: calc(550px * var(--ratio));
  width: 80%;
  /* margin: auto; */
  border-radius: calc(5px * var(--ratio));
  overflow: hidden;
}

#signup-form form > * {
  margin-bottom: calc(40px * var(--ratio));
}

#signup-form form .top {
  display: flex;
}

#signup-form form .top div {
  flex-grow: 1;
  text-align: center;
  padding: calc(23px * var(--ratio));
  font-size: calc(24px * var(--ratio));
  font-weight: bold;
}
#signup-form form .top div.active {
  background-color: var(--main-color);
  color: white;
}

#signup-form form .content {
  display: flex;
  flex-direction: column;
  padding: 0 calc(50px * var(--ratio));
}

#signup-form form .content > input {
  margin-bottom: calc(25px * var(--ratio));
}

#signup-form form .content input[type="checkbox"] {
  margin-right: calc(22px * var(--ratio));
}

#signup-form form .content > div {
  display: flex;
  align-items: center;
  margin-bottom: calc(25px * var(--ratio));
  font-size: calc(16px * var(--ratio));
}

#signup-form form .content > input {
  padding: calc(19px * var(--ratio)) calc(25px * var(--ratio));
}

#signup-form form .top div:not(.active):hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
