#team .title {
  margin-bottom: calc(50px * var(--ratio));
}

#team .title h1 {
  font-size: calc(40px * var(--ratio));
  text-align: center;
  margin-bottom: calc(15px * var(--ratio));
}

#team .title .line {
  width: calc(115px * var(--ratio));
  margin: auto;
}
#team .title .line div {
  width: 100%;
  height: 1.5px;
  background-color: var(--main-color);
}
#team .title .line div:nth-child(1) {
  margin-bottom: 2px;
}

#team .title {
  margin-top: calc(55px * var(--ratio));
  margin-bottom: calc(55px * var(--ratio));
}

#team .card {
  width: 100%;
  display: flex;
  line-height: 1.6;
  margin-bottom: calc(32px * var(--ratio));
  border-radius: calc(5px * var(--ratio));

  overflow: hidden;
}
#team .card .image {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#team .card .image.image1 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/author1.jpg);
}
#team .card .image.image2 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/author2.jpg);
}
#team .card .image.image3 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/author3.jpg);
}

#team .card .image.image4 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/author4.jpg);
}

#team .card .image.image5 {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/image/author5.jpg);
}

#team .card .info {
  width: 50%;
  padding: calc(48px * var(--ratio)) calc(60px * var(--ratio));
  background-color: #fff;
  border-radius: calc(4px * var(--ratio));
}

#team .card .info h3 {
  font-size: calc(22px * var(--ratio));
  font-weight: bold;
  color: var(--main-color);
  text-transform: capitalize;
}
#team .card .info .job-title {
  font-size: calc(16px * var(--ratio));
}
#team .card .info p {
  margin: calc(36px * var(--ratio)) 0;
  font-size: calc(16px * var(--ratio));
}
#team .card .info .social {
  display: flex;
}
#team .card .info .social .icon {
  width: calc(25px * var(--ratio));
  height: calc(25px * var(--ratio));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  filter: invert(45%) sepia(32%) saturate(2410%) hue-rotate(347deg)
    brightness(99%) contrast(93%);

  margin: 0 calc(10px * var(--ratio));
}
#team .card .info .social .icon.icon-insta {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/icons/Instagram.svg);
}
#team .card .info .social .icon.icon-twt {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/icons/Twitter.svg);
}
#team .card .info .social .icon.icon-fb {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/icons/Facebook.svg);
}
#team .card .info .social .icon.icon-site {
  background-image: url(https://thegoodzone.pythonanywhere.com/static/assets/icons/Site.svg);
}

.card .info .social .icon:hover {
  filter: brightness(0) !important;
}

.card .info .social .icon:first-child {
  margin-left: 0 !important;
}

#team .footer {
  text-align: center;
}

@media (max-width: 700px) {
  #team .card {
    flex-direction: column;
  }
  #team .card .image {
    height: 300px;
    width: 100%;
  }
  #team .card .info {
    width: 100%;
  }
}
